.body-class {
    background: rgb(12, 115, 211);
}

.main-header {
    color: lime;
    background: blue;
}

.section__section-header {
    color: yellowgreen;
    background: rgb(0, 0, 197)
}

.section__article-header {
    color: yellow;
    background: rgb(0, 0, 151);
}

.body-class {
    background: rgb(52,42,255);
    background: linear-gradient(90deg, rgba(52,42,255,1) 24%, rgba(20,20,182,1) 50%, rgba(0,156,185,1) 74%);
}

.section__article-text {
    color: #01205f;
    background: #12a4f8;
}

.main {
    width: 1000px;
    margin: 10px auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: grey;
    width: 1000px;
    height: 50px;
    margin: 0px auto;
    border: 3px solid black;
    border-radius: 10px;
}

.navigation__link {
    display: inline-block;
    margin: 15px;
}

.footer {
    background: grey;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 50px 0;
    
}

.footer__text {
    margin: 15px;
}
